.parafo{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

body {
  background-size: 100%;
}

#title{
    color: red;
}

.scroll {
  max-height: 500px;
  overflow-y: auto;
}