.parafo{
    color: white;
    font-family: serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

body {
  background-color: lightcyan;
  background-image: url(https://www.wallpaperflare.com/static/551/748/930/polar-bear-ice-minimalism-white-wallpaper.jpg);
  background-size: 100%;
}

#title{
    color: red;
}