.parafo{
    color: teal;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    font-size: 3em;
    text-align: center;
}

body {
    background-color: lightcyan;
  }
  
#title{
    color: red;
}
